<h1>Авторизація</h1>
<%= form_for :user do |f|%>
  <p> Логін: <br>
  <%= f.text_field :username, :class => "form-control" %>
  </p>
  <p> Пароль: <br>
  <%= f.password_field :password, :class => "form-control" %>
  </p>
  <%= f.submit 'Авторизуватись', :class => "btn btn-outline-primary" %>
<%end%>
