<h2>Додати коментар</h2>
<%= form_for :comment do |f| %>
  <%= f.text_area :body, :required => "true", :class => "form-control" %>
  <%= f.submit "Додати коментар", :class => "btn btn-outline-primary" %>
<% end %>
